<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <p>This is an index page!</p>
        <form action="/" method="POST">
            Message<input type="text" placeholder="Message">
            <input type="submit" value="submit">
        </form>
        <a href="/table">Table</a>
    </body>
</html>