{% extends "layout.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
    <h1>About Me</h1>
    <br>
    <p>Hi, I'm a developer who programs things. I started working with JavaScript in the fall of 2016 and have been enjoying it ever since!</p>
    <br>
    <h3>Contact</h3>
    <br>
    <form action="/about" method="POST">
        Name:   <input type="text" name="name" placeholder="Name"><br><br>
        Email:   <input type="text" name="email" placeholder="Email"><br><br>
        Message:<br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea><br>
        <button>Submit</button>
    </form>
{% endblock %}