{% extends "layout.html" %}
{% block title %}Comment Page{% endblock %}
{% block content %}
    <h1>Here's a cipher page, have fun!</h1>
        
    <br>
    <h3>Post a Phrase to encrypt</h3>
    <br>
    <div class="grid-container">
    <form action="/cipher" method="POST" class="col-3">
        <br><br>
        <table>
            <th>
                <tr>
                    <td>
                        Phrase
                    </td>
                    <td>
                        <input type="text" name="phrase" placeholder="Phrase">
                    </td>
                </tr>
            </th>
            <th>
                <button>Submit</button>
            </th>
        </table>
    </form>

    <table class="col-3">
        {% for i in encrypted%}
        <tr>
            <td>Here's your Encrypted Phrase: {{i.encrypted_p}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}