{% extends "layout.html" %}
{% block title %}Comment Page{% endblock %}
{% block content %}
    <h1>Here's a comment page, have fun!</h1>
    <br>
    {% for i in messages%}
    <table>
        <tr>
            <td> {{i.name}} says: {{i.message}} </td>
        </tr>
    </table>
    {% endfor %}
    <img src="https://c1.staticflickr.com/3/2683/4103190721_bc767d12c6_b.jpg" id="pumpkin">
    <br>
    <h3>Post a comment here using the form</h3>
    <br>
    <form action="/commentchannel" method="POST">
        <table>
            <th>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" name="name" placeholder="Name">
                    </td>
                </tr>
            </th>
            <th>
                <tr>
                    <td>
                        Comment
                    </td>
                    <td>
                        <input name="message" type= "text" placeholder="Comment">
                    </td>
                </tr>
            </th>
            <th>
                <button>Submit</button>
            </th>
        </table>
    </form>
{% endblock %}