<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comment Page</title>
        <!-- <meta charset="UTF-8"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/commentchannel">Comment</a>
        </nav>
        <h1>Here's a comment page, have fun!</h1>
        {% for i in messages%}
        <table>
            <tr>
                <td> {{i.name}} says: {{i.message}} </td>
            </tr>
        </table>
        {% endfor %}

        <h3>Post a comment here using the form</h3>
        <form action="/commentchannel" method="POST">
            <input type="text" name="name" placeholder="Name"><br>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea><br>
            <button>Submit</button>
        </form>
    </body>
</html>