<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/commentchannel">Comment</a>
    </nav>
    <h1>Greetings!</h1>
    <br>
    <p>This site is an experimentation on trying to work with more barebones CSS and Flask</p>

    <br>
    <h2>Here's my actual portfolio site, where you can find more of what I've worked on</h2>
    <br>
    <a href="http://conniecheng.me">Behold in Wonder!</a>
    
    <!-- <div class="grid-container">
    </div>
     -->
    <br><br>
    <p>In the mean time, here's a picture of a dog, while this page is still under construction</p>
    <br>
    <img id= "dog" src="https://static.pexels.com/photos/128817/pexels-photo-128817.jpeg" />
    <!-- <img class="logos" src="{{ url_for('static', filename='img/Twitter_Social_Icon_Circle_Color.png') }}"></a> -->
    <div id="footer">
        <!-- All logos are taken from logo packages downloaded from each social meda site and are within usage rights; list of logos: Twitter, GitHub, Linked In.
a href links the logo images to which ever hyperlink I've sourced, while the target opens a new tab instead of redirecting the same page-->
       <div class="logo" id="tw"><a class="pad" href="https://twitter.com/ccheng52/" target="_blank"><img class="logos" src="{{ url_for('static', filename='img/Twitter_Social_Icon_Circle_Color.png') }}"></a> </div>
       <div class="logo" id="git"><a class="pad" href="https://github.com/Ccheng26" target="_blank"><img class="logos" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"></a> </div>
       <div class="logo" id="link"><a class="pad" href="https://www.linkedin.com/in/ccheng52" target="_blank"><img class="logos" src="{{ url_for('static', filename='img/In-2C-34px-R.png') }}"></a></div>
   </div>
</body>
</html>
