<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/commentchannel">Comment</a>
    </nav>
    <h1>Greetings!</h1>
    <p>This site is an experimentation on trying to work with more barebones CSS and Flask</p>

    <h2>Here's my actual portfolio site, where you can find more of what I've worked on</h2>
    <a href="http://conniecheng.me">Porfolio</a>
    <div class="grid-container">
    </div>
    <p>Here's a picture of a dog in the mean time, this page is still under construction</p>
    <img src="https://cdn.pixabay.com/photo/2015/03/26/10/36/dog-691641_960_720.jpg" />
    <!-- <img class="logos" src="{{ url_for('static', filename='img/Twitter_Social_Icon_Circle_Color.png') }}"></a> -->
</body>
</html>
